<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="camera">
    <xacro:arg name="use_nominal_extrinsics" default="false" />
    <!-- <xacro:include filename="$(find roverrobotics_description)/urdf/camera/_d435i.urdf.xacro"/> -->


    <link name="realsense_link"/>

    <joint name="realsense_to_payload" type="fixed">
        <parent link="payload_link"/>
        <child link="realsense_link"/>
        <origin xyz="0 0 0.2" rpy="1.57 -1.57 0"/>
    </joint>

</robot>